<!-- front end view for blog column cell -->
<!-- created div for styling of blog column -->
<div id="blog_column">
<!-- renders elements defined within the blog column cell -->
	 <%= render_elements from_cell: 'blog_column' %>
</div>