<!-- front end view for left side bar cell -->
<!-- created div for styling of left side bar -->
<div id="left_side_bar">
<!-- renders elements defined within the blog column cell -->
	 <%= render_elements from_cell: 'left_side_bar' %>
</div>