<!-- partial view for blog page layout -->
<!-- render the blog title element -->
<%= render_elements only: 'blog_title' %>
<!-- created div for styling of blog partial page -->
<div class="row">
<!-- render cells defined on page -->
	<%= render_cell('blog_column') %>
	<%= render_cell('left_side_bar') %>
</div>
